.focused_btn{
    -fx-background-color: #e5e4ec;
    -fx-border-width: 0 0 0 10px;
    -fx-border-color: #9170cb;
    -fx-opacity: 100% !important;
}

.dash_button:hover{
    -fx-opacity: 70%;
}

.total_pane{
    -fx-background-color: #e7e1ec;
    -fx-background-radius: 20px;
}

.font_change{
    -fx-font-family: "Comic Sans MS";
}

JFXButton:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}